<div id="header-wrapper">
  <header id="header" class="5grid-layout">
    <div class="row">
      <div class="12u">
        <h1><a href="/index.html" class="mobileUI-site-name">Karateseura Shoto ry</a></h1>
        <h3 id="slogan">“Kaikki liike on universaalia ja geneeristä”</h3>
        <h3 id="unitext">Yhteistyössä:</h3>
        <a id="unilogo" href="https://unisport.fi/" title="UniSport"><img src="/assets/images/unisportlogo-small.png" /></a>
        <nav class="mobileUI-site-nav">
          <li><a href="/index.html">Pääsivu</a></li>
          <li><a href="/harjoittelu.html">Harjoittelu</a></li>
          <li><a href="/alkeiskurssi.html">Alkeiskurssi</a></li>
          <li><a href="/kuvia.html">Kuvia</a></li>
          <li><a href="/yhteystiedot.html">Lisätietoa</a></li>
        </nav>
        <div class="flags">
          <a id="finnish" href="#" class="change-to-finnish" title="Suomeksi"><img class="flag" src="/assets/images/flag-finland.png" /></a>
          <a id="english" href="#" class="change-to-english" title="Englanniksi"><img class="flag" src="/assets/images/flag-great-britain.png" /></a>
        </div>
      </div>
    </div>
  </header>
</div>