<div id="header-wrapper">
  <header id="header" class="5grid-layout">
    <div class="row">
      <div class="12u">
        <h1><a href="/index_en.html" class="mobileUI-site-name">Karate Club Shoto ry</a></h1>
        <h3 id="slogan">"Movement is universal and generic"</h3>
        <h3 id="unitext">In cooperation with:</h3>
        <a id="unilogo" href="https://unisport.fi/" title="UniSport"><img src="/assets/images/unisportlogo-small.png" /></a>
        <nav class="mobileUI-site-nav">
          <li><a href="/index_en.html">Main Page</a></li>
          <li><a href="/harjoittelu_en.html">Training</a></li>
          <li><a href="/alkeiskurssi_en.html">Beginner's Course</a></li>
          <li><a href="/kuvia_en.html">Pictures</a></li>
          <li><a href="/yhteystiedot_en.html">Information</a></li>
        </nav>
        <div class="flags">
          <a id="finnish" href="#" class="change-to-finnish" title="In Finnish"><img class="flag" src="/assets/images/flag-finland.png" /></a>
          <a id="english" href="#" class="change-to-english" title="In English"><img class="flag" src="/assets/images/flag-great-britain.png" /></a>
        </div>
      </div>
    </div>
  </header>
</div>