<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% assign head = 'head_'  | append: page.lang | append: '.html' %}
{% include {{head}} %}

<body>

{% assign header = 'header_'  | append: page.lang | append: '.html' %}
{% include {{header}} %}

<div id="content-wrapper">
  <div id="content">
    <div class="5grid-layout">
      <div class="row">
        <div class="12u">
          {% include breadcrumb.html %}
        </div>
      </div>
    </div>

    <div class="5grid-layout">
      <div class="row">
        <div class="3u">
          {% assign leftUp = {{page.include_left_up}} %}
          {% assign leftDown = {{page.include_left_down}} %}
          {% include {{leftUp}} %}
          {% include {{leftDown}} %}
        </div>
        <div class="6u mobileUI-main-content">
          {{ content }}
        </div>
        <div class="3u">
          {% assign rightUp = {{page.include_right_up}} %}
          {% assign rightDown = {{page.include_right_down}} %}
          {% include {{rightUp}} %}
          {% include {{rightDown}} %}
        </div>
      </div>
    </div>

  </div>
</div>

{% assign footer = 'footer_'  | append: page.lang | append: '.html' %}
{% include {{footer}} %}

</body>

</html>