<section class="covid-ohjeet">
  <header>
    <h2>Covid-19 -ohjeet keväälle 2022</h2>
  </header>
  <p>
    Harjoituksiin saa tulla saatuaan täyden rokotesarjan tai immuniteetin sairastetusta
    koronataudista. Noudatamme yleisesti voimassa olevia ohjeita koronapassin ja muiden toimintatapojen osalta.
    <ul>
      <li>
        * Harjoituksiin tulo on ehdottomasti kielletty, jos itsellä tai lähipiirillä on pieniäkään
        sairastumisen oireita.
      </li>
      <li>
        * Seuraamme epidemiatilannetta aktiivisesti ja sopeutamme toimintaa sen mukaan.
      </li>
      <li>
        * Muissakin tilanteissa voimassa olevat ohjeet ovat voimassa meilläkin:
        <li>
          - Kädet on pestävä huolellisesti saippualla ja lämpimällä vedellä ennen ja jälkeen
          harjoituksen.
        </li>
        <li>
          - Aivastetaan ja yskitään omaan hihaan.
        </li>
        <li>
          - Maskia on suositeltavaa käyttää pukuhuoneessa ja muualla tiloissa, jos
          muodostuu ruuhkaa ja kontakteja muiden ryhmien harjoittelijoihin.
        </li>
        <li>
          - Maskisuositus on voimassa niin kauan kun yleinen maskisuositus on olemassa.
        </li>
      </li>
      <li>
        * Jos harjoitusryhmän jäsenellä todetaan koronatartunta tai sitä on syytä epäillä, on
        noudatettava viranomaisten ohjeita ryhmän jäsenten karanteenin asettamisesta.
      </li>
      <li>
        * Vetäjä muistaa merkitä läsnäolot joka treenistä.
      </li>
      <li>
        * Tuuletetaan sali mahdollisuuksien mukaan ennen treenien aloittamista.
      </li>
      <li>
        * Sali siivotaan ja lattia tai tatamit pyyhitään salin ohjeistusten mukaisesti jokaisen
        harjoittelukerran lopuksi. Harjoituksen vetäjä osoittaa tehtävään harjoittelijat.
      </li>
    </ul>

  </p>
</section>
