<section class="covid-ohjeet">
  <header>
    <h2>Covid-19 instructions autumn 2021</h2>
  </header>
  <p>
    You're allowed to train, if you have received two vaccinations or immunity after recovering from covid-19.
    We require trainees to have a valid vaccination certificate, when there are restrictions to gatherings.
  <ul>
    <li>
      * Training is forbidden, if you or someone close to you have any symptoms.
    </li>
    <li>
      * We monitor the epidemic situation and adapt our training accordingly.
    </li>
    <li>
      * Generic instructions:
    <li>
      - Wash your hands carefully with soap and warm water before and after training.
    </li>
    <li>
      - Cover sneezing and coughs with sleeve.
    </li>
    <li>
      - Use mask in dressing room and other crowded areas.
    </li>
    <li>
      - Mask recommendation is valid as long as the public recommendation on using them.
    </li>
    </li>
    <li>
      * In case of a suspected infection in a training group, general recommendations on quarantine apply.
    </li>
    <li>
      * Instuctor will keep note on who is present every training session.
    </li>
    <li>
      * If possible, ventilate the dojo before session.
    </li>
    <li>
      * Dojo is cleaned according to instructions after every training session.
    </li>
  </ul>

  </p>
</section>
