<section>
  <header>
    <h2>Harjoitusajat</h2>
  </header>
  <ul>
    <ul class="harjoitusajat-list">
      <p style="font-weight: bold">Kesän ulkotreenit säävarauksin. Tuorein tieto saatavilla postituslistan ja whatsapp-ryhmän kautta.</p>
    <li> Kevät 2024
    </li>
      <li>
        <strong>ti 18:30-20.00</strong>
        <a href="/harjoittelupaikat.html" title="Linkki harjoittelupaikkoihin">Sörnäinen</a></a>
      </li>
      <li>
        <strong>pe 17:30-19.00</strong>
        <a href="/harjoittelupaikat.html" title="Linkki harjoittelupaikkoihin">Kaapelitehdas, Awase</a></a>
      </li>
      <li>
        <strong>su 17:00-18.30</strong>
        <a href="/harjoittelupaikat.html" title="Linkki harjoittelupaikkoihin">Kaapelitehdas, Awase</a></a>
      </li>
    </ul>
  </ul>
  <a href="/harjoittelu.html" title="Tietoa harjoitusajoista ja -paikoista" class="more">Lisää harjoitusajoista ></a>
</section>
