<section>
  <header>
    <h2>Harjoitusajat</h2>
  </header>
  <ul>
    <ul class="harjoitusajat-list">
      <p style="font-weight: bold">HUOM: Koronaepidemiasta johtuen harjoitukset on toistaiseksi peruttu.</p>
    <li> Kevät 2020
    </li>
      <li>
        <strong>ke 18-19.30</strong>
        <a href="/harjoittelupaikat.html" title="Linkki harjoittelupaikkoihin">Otahalli, Aavasali</a></a>
      </li>
      <li>
        <strong>pe 17:30-19.00</strong>
        <a href="/harjoittelupaikat.html" title="Linkki harjoittelupaikkoihin">Kaapelitehdas, Awase</a></a>
      </li>
      <li>
        <strong>su 17-18.30</strong>
        <a href="/harjoittelupaikat.html" title="Linkki harjoittelupaikkoihin">Kaapelitehdas, Awase</a></a>
      </li>
    </ul>
  </ul>
  <a href="/harjoittelu.html" title="Tietoa harjoitusajoista ja -paikoista" class="more">Lisää harjoitusajoista ></a>
</section>
