<section>
  <header>
    <h2>Practice Times</h2>
  </header>
  <ul>
    <ul class="harjoitusajat-list">
      <li>
       For summer 2019
      </li>
      <li>
        <strong>wed 18-19.30</strong>
        <a href="/harjoittelupaikat.html" title="Linkki harjoittelupaikkoihin">Otahalli, Aavasali</a></a>
      </li>
      <li>
        <strong>sun 17-18.30</strong>
        <a href="/harjoittelupaikat.html" title="Linkki harjoittelupaikkoihin">Otahalli, Aavasali</a></a>
      </li>
    </ul>
  </ul>
  <a href="/harjoittelu_en.html" title="More about practice times" class="more">More about practice times ></a>
</section>
 
