<section>
  <header>
    <h2>Practice Times</h2>
  </header>
  <ul>
    <ul class="harjoitusajat-list">
      <li>
       From 1.6.2018
      </li>      
      <li>
        <strong>Tue 17.30-19.00</strong> (with Honbu)
        <a href="/harjoittelupaikat_en.html" title="Link to practice places">UniDojo</a></a>
      </li>
      <li>
        <strong>Thu 19.00-20.30</strong> (with Honbu)
        <a href="/harjoittelupaikat_en.html" title="Link to practice places">Unidojo</a></a>
      </li>
      <li>
        <strong>Sun 19.00-20.30</strong>
        <a href="/harjoittelupaikat_en.html" title="Link to practice places">UniDojo</a>
      </li>
    </ul>
  </ul>
  <a href="/harjoittelu_en.html" title="More about practice times" class="more">More about practice times ></a>
</section>
 
