<section>
  <header>
    <h2>Practice Times</h2>
  </header>
  <ul>
    <ul class="harjoitusajat-list">
      <p style="font-weight: bold">Outdoor summer training with weather reservation. Latest info is available from mailing list and whatsapp group.</p>
      <li>
        Autumn 2024
      </li>
      <li>
        <strong>tue 18:30-20.00</strong>
        <a href="/harjoittelupaikat_en.html" title="Linkki harjoittelupaikkoihin">Sörnäinen</a></a>
      </li>
      <li>
        <strong>fri 17:30-19.00</strong>
        <a href="/harjoittelupaikat_en.html" title="Linkki harjoittelupaikkoihin">Kaapelitehdas, Awase</a></a>
      </li>
      <li>
        <strong>sun 17:00-18.30</strong>
        <a href="/harjoittelupaikat_en.html" title="Linkki harjoittelupaikkoihin">Kaapelitehdas, Awase</a></a>
      </li>
    </ul>
  </ul>
  <a href="/harjoittelu_en.html" title="More about practice times" class="more">More about practice times ></a>
</section>
 
